@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Lobster&family=Noto+Serif+Gujarati:wght@600&display=swap');

.FooterContainer {
    
    /* border: 5px solid red; */
    height: 40vh;
    display: flex;
    justify-content: center;
    
}

.FooterItems {
    font-family: 'Abril Fatface', cursive;
    /* border: solid black; */
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.craving {
    border: solid red;
    
    opacity: 0.3;
}

.CravingContainer {
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
    background-image: url("../public/MainContentCraving.jpg");
    height: 20vh;
    width: 40vh;
    font-size: 130%;
}
.CravingText {
    /* background-color: rgba(0, 0, 0, 0.426); */
    background-color: rgba(0, 0, 0, 0.859);

    /* border: ;
    display: flex;
    justify-content: center; */
}