/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Noto+Serif+Gujarati:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Lobster&family=Noto+Serif+Gujarati:wght@600&display=swap');
.NavBarList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid black; */
    width: 400px;
}

.NavBarContainer {
  
    /* height: 9%; */
    /* border: solid blue; */
    top: 10vh;
}

.NavBarItems {
    display: flex;
    justify-content: space-around;
    /* border: solid green 10px; */
    /* padding: 10px; */

    /* max-height: 1vh; */

}

.NavBarItemsLeft {
    /* border: solid purple; */
    display: flex;
    justify-content: flex-start;
    /* margin: 0, 10px; */
    width: 40%;
    /* padding: 10px; */
  
}

.NavBarListLeft {
    font-family: 'Abril Fatface', cursive;
    list-style-type: none;
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.NavBarListLeft li{
    /* margin-right: 80px; */
    /* border: solid red; */
    display: flex;
}


.NavBarItemsRight {
    font-family: 'Abril Fatface', cursive;
    /* border: solid salmon; */
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.Login {
    background-color: rgba(0, 0, 0, 0.467);
    color: white;
    cursor: pointer;
    box-shadow: 5px 2px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
    width: 50px;
    /* margin: 10px, 10px; */
}

.Menu {
    cursor: pointer;
    /* border: solid red; */
    /* margin: 10px; */
}

.FoodFinder {
    margin-right: 10px;
    width: 10%;
    border-radius: 10px;
    /* border: solid black; */
}

.FoodFinderList {
    display: flex;
    justify-content: flex-end;
    font-size: 150%;
    

    /* border: solid rgb(25, 49, 99); */
    width: 20%;
}